@using RDN.Utilities.Paging
@model RDN.Models.OutModel.GenericSingleModel<RDN.Models.Utilities.SimpleModPager<RDN.Portable.Models.Json.SkaterJson>>
@{
    ViewBag.Title = "All " + RDN.Library.Classes.Config.LibraryConfig.SportName + " " + RDN.Library.Classes.Config.LibraryConfig.NameOfMembers + " World Wide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header text-center">
    <h2>     @Model.Model.NumberOfRecords.ToString("N0") @RDN.Library.Classes.Config.LibraryConfig.SportName @RDN.Library.Classes.Config.LibraryConfig.NameOfMembers and Referees World Wide</h2>
</div>
<div class="col-sm-offset-3 col-sm-6 col-xs-12">
    <div class="input-group">
        <input type="text" class="form-control" id="searchBox" data-bind="val: SearchText" onkeyup="MemberViewModel.SearchMembers(this)" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- /input-group -->
    
</div>

<div class="clearfix"></div>
<br />
<div data-bind="foreach: Members">

    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">

            <a data-bind=" attr: {href: DerbyNameUrl}">

                <img style="max-height:200px" alt="" data-bind="attr:{ src: ThumbUrl}" />

            </a>
            <div class="caption">
                <h4>
                    <a data-bind=" attr: {href: DerbyNameUrl}">
                        <span data-bind="text: DerbyName "></span> - <span data-bind="text: DerbyNumber"></span>
                    </a>
               </h4>
                <small>
                    <a data-bind="if: LeagueUrl, attr: {href: LeagueUrl}">
                        <span data-bind="text: LeagueName"></span>
                    </a>
                </small>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ko.applyBindings(MemberViewModel);
        MemberViewModel.LoadMemberList('@RDN.Library.Classes.Config.LibraryConfig.ListLoadingCount');
    });
</script>
