@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";

    string webmail = RDN.Library.Classes.Config.LibraryConfig.WebsiteMainEmail;
}
<div class="page-header">
    <h2>
        General Questions and Inquiries
    </h2>
</div>
<div>
    We'd love to hear from you! Please send all your general questions and inquiries
    to <a href="mailto:@webmail">@webmail</a></div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />