@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact";
}
<div class="page-header">
    <h2>
        General Questions and Inquiries
    </h2>
</div>
<div>
    We'd love to hear from you! Please send all your general questions and inquiries
    to <a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["WebsiteMainEmail"]">@System.Configuration.ConfigurationManager.AppSettings["WebsiteMainEmail"]</a></div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />