@model RDN.Library.Classes.League.TaskList.TaskListDA
@{
    ViewBag.Title = "Task List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
}

<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Task lists for the league 
        </div>

        <div class="titleDescription">
          Add and Manage your tasks here...
        </div>
        <div class="divider"></div>

        <div>
            @using (Html.BeginForm("TaskList", "Task", FormMethod.Post, new { @id = "addNewList" }))
            { 
                <table class="addForumPostTbl">
                    <tr>
                        <td class="b alRight">List Title:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.ListName)
                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Task Dead Line:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(models => models.EndDate, new { @class = "jquery_datepicker" })

                        </td>
                    </tr>
                    <tr>
                        <td class="b alRight">Assign To:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.AssignedTo)
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="b  alRight alignTop">Groups:
                        </td>
                        <td>
                            <img src="@Url.Content("~/Content/images/icons/down.png")" onclick="Calendar.ExpandGroupMemberList()" class="spanLink" style="float:left;"  width="25px" />
                             <div name="ToMemberNamesSelected" id="ToMemberNamesSelected" style="float:left;">
                                 <span class="recipientsNames">Entire League</span>
                            </div>
                            <span class="i"><a href="http://wiki.rdnation.com/Calendar_and_Attendance_Tracking#Creating_An_Event">Group only events</a></span>
                            <div class="clear"></div>
                            <div class="displayNone groupMemberLists" id="groupMemberLists">
                                <ul id="groupList" class="noList"></ul>
                                <div class="clear"></div>
                            </div>
                            
                        </td>
                    </tr>
                        -->
                    <tr>
                        <td class="b alRight"></td>
                        <td class="largeInput">
                            <input type="submit" class="primary" value="Add List" name="addList" />

                        </td>
                    </tr>

                </table>
               
            }
        </div>
    </div>    
</div>
<script type="text/javascript">
    $("#addNewList").validate({
        rules: {
            ListName: "required",
            EndDate: "required"
        }
    });
    $('#EndDate').datepicker();
    
</script>

