/* Shop Main Page CSS */
.divShopPage .shop-info { background: #fff; border: 1px solid #e5e5e5; border-top: 1px solid #EEEEEE; }
.divShopPage .list-group { margin-bottom: 5px; }
.divShopPage .shop-info .shop-info-table { width: 100%; }
.divShopPage .shop-info .shop-info-table .name-title { vertical-align: middle; float: left; width: 98%; padding: 12px 0 13px 14px; }
.divShopPage .shop-info .shop-info-table h1 { font-size: 16px; font-weight: bold; color: #0192b5; line-height: 18px; margin-top: 0; margin-bottom: 0; }
.divShopPage .shop-info .shop-info-table .shop-name a,
.divShopPage .shop-info .shop-info-table.shop-name a:visited,
.divShopPage .shop-info .shop-info-table.shop-name a:hover { text-decoration: none; color: #0192b5; }
.divShopPage .shop-info-detail { margin-bottom: 8px; border: 1px solid #E5E5E5; padding: 8px 76px 8px 14px; display: block; background-color: #f9f9f7; color: #333; position: relative; }
.divShopPage .shop-info-detail span.divUpArrow { position: absolute; color: #E5E5E5; top: -14px; left: 30px; font-size: 18px; }
.divShopPage .shop-info-detail.shop-info-description { border-radius: 5px; }
.divShopPage .shop-address-info { padding: 10px 15px; margin-bottom: 3px; background-color: #f5f5f1; border-radius: 5px; margin-bottom: 15px; border: 1px solid #E5E5E5; }
