/RDN.League/obj
/RDN.League/bin
/RDN.Library/obj
/RDN.Library/bin
/RDN/obj
/RDN/bin
/RDN.Store/bin
/RDN.Store/obj
/RDN.Raspberry/bin
/RDN.Raspberry/obj
/RDN.Portable/bin
/RDN.Portable/obj
/TournamentApi/bin
/TournamentApi/obj
/RDN.TransactionHandler/RDN.TransactionHandler/obj
/RDN.TransactionHandler/RDN.TransactionHandler/bin
/RDN.Api/obj
/RDN.Api/bin
/RDNation.Mobile/bin
/RDNation.Mobile/obj
/StandardTournaments/bin
/StandardTournaments/obj
/RDN.EmailServer/RDN.EmailServer/obj
/RDN.EmailServer/RDN.EmailServer/bin
/RDN.DBUpdate/obj
/RDN.DBUpdate/bin
/RDN.Utilities/bin
/RDN.Utilities/obj
/RDNScoreboard/RDN.Scoreboard.Library/bin
/RDNScoreboard/RDN.Scoreboard.Library/obj
/RollinNews/BlogEngine/BlogEngine.Core/bin
/RollinNews/BlogEngine/BlogEngine.Core/obj
