/RDN.League/obj
/RDN.League/bin
/RDN.Library/obj
/RDN.Library/bin
/RDN/obj
/RDN/bin
/RDN.Store/bin
/RDN.Store/obj
/RDN.Raspberry/bin
/RDN.Raspberry/obj
/RDN.Portable/bin
/RDN.Portable/obj
/TournamentApi/bin
/TournamentApi/obj
/RDN.TransactionHandler/RDN.TransactionHandler/obj
/RDN.TransactionHandler/RDN.TransactionHandler/bin
/RDN.Api/obj
/RDN.Api/bin
/RDNation.Mobile/bin
/RDNation.Mobile/obj
/StandardTournaments/bin
/StandardTournaments/obj
/RDN.EmailServer/RDN.EmailServer/obj
/RDN.EmailServer/RDN.EmailServer/bin
/RDN.DBUpdate/obj
/RDN.DBUpdate/bin
/RDN.Utilities/bin
/RDN.Utilities/obj
/RDNScoreboard/RDN.Scoreboard.Library/bin
/RDNScoreboard/RDN.Scoreboard.Library/obj
/RollinNews/BlogEngine/BlogEngine.Core/bin
/RollinNews/BlogEngine/BlogEngine.Core/obj
/RollinNews/BlogEngine/BlogEngine.NET/Bin
/RollinNews/BlogEngine/BlogEngine.Tests/bin
/RollinNews/BlogEngine/BlogEngine.Tests/obj
/RDNScoreboard/RDNScoreboard/obj
/RDNScoreboard/RDNScoreboard/bin
/*.suo
/RDN.Api/RDN.Api.csproj.user
/RDN.Library.Api/bin
/RDN.Library.Api/obj
/RollinNews/BlogEngine/RollinNews.v12.suo

/RDN.EmailServer/RDN.EmailServer.v11.suo
/RDN.TransactionHandler/RDN.TransactionHandler/Properties/PublishProfiles/Profile1.pubxml
/RDN.TransactionHandler/RDN.TransactionHandler/Properties/PublishProfiles/Profile1.pubxml.user
/RDN.Api/Properties/PublishProfiles
/RDNScoreboard/RDNScoreboard.v11.suo
/RDNScoreboard/RDNScoreboard.v12.suo
/RDN.League/Properties/PublishProfiles/*.user
/RDN.League/Properties/PublishProfiles/League.pubxml
/RDN.League/Properties/PublishProfiles/League.pubxml.user
/RDN.League/Properties/PublishProfiles/Profile1.pubxml
/RDN.Raspberry/Properties/PublishProfiles/Profile1.pubxml
/RDN.Raspberry/Properties/PublishProfiles/Profile1.pubxml.user
/RDN/Properties/PublishProfiles/Profile1.pubxml
/RDN/Properties/PublishProfiles/Profile1.pubxml.user
/RDN/Properties/PublishProfiles/RDNation.pubxml
/RDN/Properties/PublishProfiles/RDNation.pubxml.user
/.vs/RDN/v14/.suo
/Common.CordovaModules/obj
/Common.CordovaModules/bin
/.vs/config/applicationhost.config
/RDN.Store/Properties/PublishProfiles/*.user
