@{
    ViewBag.Title =  "Error";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

    <div>
        <center>
            <b>We Just Blew Up!!!!</b><br />
            <br />
            <img src="~/Content/logo.png" height="200px" />
            <br />
         Looks like some sort of Error occurred while processing your request!<br />
            <br />
            The Developers have been notified and they are SUPER sorry for what just happened!
            <br /><br />
          </center>
    </div>
 
