<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.AspNet" version="4.1.4.12333" targetFramework="net451" />
  <package id="DotNetOpenAuth.Core" version="4.1.4.12333" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.1.4.12333" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.1.4.12333" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.4.12333" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.4.12333" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net451" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages.OAuth" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MiniProfiler" version="3.1.1.140" targetFramework="net451" />
  <package id="MiniProfiler.EF6" version="3.0.11" targetFramework="net451" />
  <package id="MiniProfiler.MVC4" version="3.0.11" targetFramework="net451" />
  <package id="Modernizr" version="1.7" />
  <package id="morelinq" version="1.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net451" />
  <package id="PayPalAdaptivePaymentsSDK" version="2.12.117" targetFramework="net451" />
  <package id="PayPalCoreSDK" version="1.4.2" targetFramework="net451" />
  <package id="ScheduleWidget" version="2.4.0" targetFramework="net45" />
</packages>