@model RDN.Library.Classes.EmailServer.SubscriptionFactory
@{
    ViewBag.Title = "Add New Subscription List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid memId = RDN.Library.Classes.Account.User.GetMemberId();
    bool subPaid = RDN.Library.Cache.MemberCache.CheckIsLeagueSubscriptionPaid(memId);
    
}

<div class="fixedContainer">
    <div class="fixedlinksContainter">
        <div class="backLink">
        </div>
    </div>
    <div class="fixedCenterContainter">
        <div class="fixTitle">
            Add New Subscription List Name 
        </div>

        <div class="titleDescription">
            New Subscription List
     
        </div>
        <div class="divider"></div>

        <div>
            @using (Html.BeginForm("AddNewList", "Subscriptions", FormMethod.Post, new { @id = "NewSubscription" }))
            { 
                <table class="addForumPostTbl">
                   
                   <tr>
                        <td class="b alRight">Subscription Type:
                        </td>
                        <td class="largeInput">
                            @Html.DropDownListFor(x => x.SubscriberTypeEnum, new SelectList(ViewBag.Sets, "Value", "Text"))
                        </td>
                    </tr>
                     <tr>
                        <td class="b alRight">Subscription Name:
                        </td>
                        <td class="largeInput">
                            @Html.TextBoxFor(x => x.ListName)
                        </td>
                    </tr>
             

                    <tr>
                        <td class="b alRight"></td>
                        <td class="largeInput">
                            <input type="submit" class="primary" value="Add Subscription" name="NewSubscriptionList" />

                        </td>
                    </tr>

                </table>
                  
            }
        </div>
    </div>    
</div>

<script type="text/javascript">
    $("#NewSubscription").validate({
        rules: {
            ListName: "required"          
        }
    });

</script>