<div class="loginBar">
 @if (HttpContext.Current.User.Identity.IsAuthenticated)
 {
     <span><a href="@Url.Action("Logout", "Account")" id="logout">Logout</a></span>
 }
 else
 { 

        @*<span><a href="@Url.Content("~/SignUpBeta")">Sign Up For Beta</a></span> 
<span>/

</span>*@
        <span><a href="@Url.Content("~/SignUp")">Sign Up</a></span> 
<span>/

</span>
    <span><a href="@Url.Content("~/login")">
        Login</a></span>
}</div>