html,
body { overflow-x: hidden; /* Prevent scroll on narrow devices */ }


.messages { color: #000; padding: 3px; margin: 0px 5px 5px 5px; width: 100%; border: 1px solid #000000; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.mNotify { font-weight: bold; }
.messages a:active, .messages a:hover, .messages a { color: #000; }
.footer { background-color: #000; }
.white { color: #fff; }
.navIcon img { height: 25px; max-width: 25px; padding-right: 5px; }
.imgMaxSize { max-height: 500px; }
.imgRowMax { max-height: 300px; }
.imgCenter { display: block; margin-left: auto; margin-right: auto; }
.b { font-weight: bold; }
.bg-white { background-color: #fff; }
.storeItemPrice { color: #900; font-weight: bold; }
.displayNone { display: none; }
.spanLink { text-decoration: underline; }
.cursor { cursor: pointer; }

.center { margin: 0px auto; position: relative; }

.colorpicker { width: 356px; height: 176px; overflow: hidden; position: absolute; background: url(images/colorPicker/colorpicker_background.png); font-family: Arial, Helvetica, sans-serif; display: none; }
.colorpicker_color { width: 150px; height: 150px; left: 14px; top: 13px; position: absolute; background: #f00; overflow: hidden; cursor: crosshair; }
    .colorpicker_color div { position: absolute; top: 0; left: 0; width: 150px; height: 150px; background: url(images/colorPicker/colorpicker_overlay.png); }
        .colorpicker_color div div { position: absolute; top: 0; left: 0; width: 11px; height: 11px; overflow: hidden; background: url(images/colorPicker/colorpicker_select.gif); margin: -5px 0 0 -5px; }
.colorpicker_hue { position: absolute; top: 13px; left: 171px; width: 35px; height: 150px; cursor: n-resize; }
    .colorpicker_hue div { position: absolute; width: 35px; height: 9px; overflow: hidden; background: url(images/colorPicker/colorpicker_indic.gif) left top; margin: -4px 0 0 0; left: 0px; }
.colorpicker_new_color { position: absolute; width: 60px; height: 30px; left: 213px; top: 13px; background: #f00; }
.colorpicker_current_color { position: absolute; width: 60px; height: 30px; left: 283px; top: 13px; background: #f00; }
.colorpicker input { width: 42px; background-color: transparent; border: 1px solid transparent; position: absolute; font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: #898989; top: 4px; right: 11px; text-align: right; margin: 0; padding: 0; height: 15px; }
.colorpicker_hex { position: absolute; width: 72px; height: 22px; background: url(images/colorPicker/colorpicker_hex.png) top; left: 212px; top: 142px; }
    .colorpicker_hex input { right: 6px; }
.colorpicker_field { height: 22px; width: 62px; background-position: top; position: absolute; }
    .colorpicker_field span { position: absolute; width: 12px; height: 22px; overflow: hidden; top: 0; right: 0; cursor: n-resize; }
.colorpicker_rgb_r { background-image: url(images/colorPicker/colorpicker_rgb_r.png); top: 52px; left: 212px; }
.colorpicker_rgb_g { background-image: url(images/colorPicker/colorpicker_rgb_g.png); top: 82px; left: 212px; }
.colorpicker_rgb_b { background-image: url(images/colorPicker/colorpicker_rgb_b.png); top: 112px; left: 212px; }
.colorpicker_hsb_h { background-image: url(images/colorPicker/colorpicker_hsb_h.png); top: 52px; left: 282px; }
.colorpicker_hsb_s { background-image: url(images/colorPicker/colorpicker_hsb_s.png); top: 82px; left: 282px; }
.colorpicker_hsb_b { background-image: url(images/colorPicker/colorpicker_hsb_b.png); top: 112px; left: 282px; }
.colorpicker_submit { position: absolute; width: 22px; height: 22px; background: url(images/colorPicker/colorpicker_submit.png) top; left: 322px; top: 142px; overflow: hidden; }
.colorpicker_focus { background-position: center; }
.colorpicker_hex.colorpicker_focus { background-position: bottom; }
.colorpicker_submit.colorpicker_focus { background-position: bottom; }
.colorpicker_slider { background-position: bottom; }
.colorPickerC { width: 25px; height: 25px; float: left; margin: 2px 2px 0px 0px; }
.colorPickerIn { width: 25px; height: 25px; float: left; margin-top: 2px; border: 1px solid #000; }
.selectedColorList { height: 30px; }
.selectedColor { height: 25px; border: 1px solid #000; }
.selectedColorCon { width: 50px; text-align: center; vertical-align: middle; font-size: .8em; height: 40px; float: left; }

.notifications { position: fixed; z-index: 99999; }

    /* Positioning */
    .notifications.top-right { right: 10px; top: 25px; }
    .notifications.top-left { left: 10px; top: 25px; }
    .notifications.bottom-left { left: 10px; bottom: 25px; }
    .notifications.bottom-right { right: 10px; bottom: 25px; }
    /* Notification Element */
    .notifications > div { position: relative; z-index: 99999; margin: 5px 0px; }

.well-inverse { border-color: #e5e5e5 #eee #eee; border-style: solid; border-width: 1px 0; -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05); box-shadow: inset 0 3px 6px rgba(0,0,0,.05); }

.nav-spacer { margin-top: 50px; }
.nav-secondary { background-color: #f5f5f5; }

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown { position: static; }
.yamm .container { position: relative; }
.yamm .dropdown-menu { left: auto; }
.yamm .yamm-content { padding: 20px 30px; }
.yamm .dropdown.yamm-fw .dropdown-menu { left: 0; right: 0; }

.yamm .yamm-content li { clear: both; padding: 3px; }


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {

    .row-offcanvas { position: relative; -webkit-transition: all .25s ease-out; -o-transition: all .25s ease-out; transition: all .25s ease-out; }
    .row-offcanvas-right { right: 0; }
    .row-offcanvas-left { left: 0; }
    .row-offcanvas-right .sidebar-offcanvas { right: -50%; /* 6 columns */ }
    .row-offcanvas-left .sidebar-offcanvas { left: -50%; /* 6 columns */ }
    .row-offcanvas-right.active { right: 50%; /* 6 columns */ }
    .row-offcanvas-left.active { left: 50%; /* 6 columns */ }
    .sidebar-offcanvas { position: absolute; top: 0; width: 50%; /* 6 columns */ }
}


.relative { position:relative; }
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-20{margin-top:20px;}
.margin-top-30{margin-top:30px;}
.no-padding{padding:0px;}
.no-padding-top{padding-top:0px;}
.padding-top-5{padding-top:5px;}
.padding-top-10{padding-top:10px;}
.no-margin-bottom{margin-bottom:0px;}
.no-margin{margin:0px;}
.form-label{font-weight:normal}
.no-border {border:0px}
#addAnswerToAnswersList{ height:380px;overflow-y:auto}

body 
{ 
	background-color: White
}

.wmd-panel
{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

#wmd-editor
{
}

#wmd-button-bar 
{
	width: 100%;
}

#wmd-input 
{ 
	height: 200px;
	width: 100%;
}

#wmd-preview 
{ 
	background-color: #efefef; 
   border-radius:4px;padding:10px;border:2px dotted #ccc;margin-top:5px;
}

#wmd-output 
{ 
	background-color: Pink;
}

#wmd-button-row 
{
	position: relative; 
	margin-bottom: 5px;
	padding: 0px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button
{
	width: 20px; 
	height: 20px; 
	margin-right: 5px;
	border: 1px solid silver;
	background-image: url(images/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block; 
	list-style: none;
}

.wmd-button > a
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	display: inline-block; 
}

 
/* sprite button slicing style information */
#wmd-button-bar #wmd-bold-button    {left: 0px;   background-position: 0px 0;}
#wmd-button-bar #wmd-italic-button  {left: 25px;  background-position: -20px 0;}
#wmd-button-bar #wmd-spacer1        {left: 50px;}
#wmd-button-bar #wmd-link-button    {left: 75px;  background-position: -40px 0;}
#wmd-button-bar #wmd-quote-button   {left: 100px;  background-position: -60px 0;}
#wmd-button-bar #wmd-code-button    {left: 125px;  background-position: -80px 0;}
#wmd-button-bar #wmd-image-button   {left: 150px;  background-position: -100px 0;}
#wmd-button-bar #wmd-spacer2        {left: 175px;}
#wmd-button-bar #wmd-olist-button   {left: 200px;  background-position: -120px 0;}
#wmd-button-bar #wmd-ulist-button   {left: 225px; background-position: -140px 0;}
#wmd-button-bar #wmd-heading-button {left: 250px; background-position: -160px 0;}
#wmd-button-bar #wmd-hr-button      {left: 275px; background-position: -180px 0;}
#wmd-button-bar #wmd-spacer3        {left: 300px;}
#wmd-button-bar #wmd-undo-button    {left: 325px; background-position: -200px 0;}
#wmd-button-bar #wmd-redo-button    {left: 350px; background-position: -220px 0;}
#wmd-button-bar #wmd-help-button    {right: 0px; background-position: -240px 0;}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}



/* DataTables*/

div.dataTables_length label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
}

div.dataTables_length select {
	width: 75px;
	display: inline-block;
}

div.dataTables_filter {
	text-align: right;
}

div.dataTables_filter label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
}

div.dataTables_filter input {
	margin-left: 0.5em;
	display: inline-block;
}

div.dataTables_info {
	padding-top: 8px;
	white-space: nowrap;
}

div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right;
}

div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
}

@media screen and (max-width: 767px) {
	div.dataTables_length,
	div.dataTables_filter,
	div.dataTables_info,
	div.dataTables_paginate {
		text-align: center;
	}
}


table.dataTable td,
table.dataTable th {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


table.dataTable {
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
}

table.dataTable thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable thead > tr > th {
	padding-left: 18px;
	padding-right: 18px;
}

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	margin-top: 0 !important;
	border-top: none;
}

/* Frustratingly the border-collapse:collapse used by Bootstrap makes the column
   width calculations when using scrolling impossible to align columns. We have
   to use separate
 */
table.table-bordered.dataTable {
	border-collapse: separate !important;
}
table.table-bordered thead th,
table.table-bordered thead td {
	border-left-width: 0;
	border-top-width: 0;
}
table.table-bordered tbody th,
table.table-bordered tbody td {
	border-left-width: 0;
	border-bottom-width: 0;
}
table.table-bordered th:last-child,
table.table-bordered td:last-child {
	border-right-width: 0;
}
div.dataTables_scrollHead table.table-bordered {
	border-bottom-width: 0;
}




/*
 * TableTools styles
 */
.table.dataTable tbody tr.active td,
.table.dataTable tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table.dataTable tbody tr.active:hover td,
.table.dataTable tbody tr.active:hover th {
	background-color: #0075b0 !important;
}

.table.dataTable tbody tr.active th > a,
.table.dataTable tbody tr.active td > a {
	color: white;
}

.table-striped.dataTable tbody tr.active:nth-child(odd) td,
.table-striped.dataTable tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
	cursor: pointer;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu {
  z-index: 2003;
}

ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li {
	position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

div.DTTT_collection_background {
	z-index: 2002;	
}

/* TableTools information display */
div.DTTT_print_info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	color: #333;
	padding: 10px 30px;
	opacity: 0.95;

	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 60px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
}



/*
 * FixedColumns styles
 */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
div.DTFC_RightHeadWrapper table,
div.DTFC_RightFootWrapper table,
table.DTFC_Cloned tr.even {
    background-color: white;
    margin-bottom: 0;
}
 
div.DTFC_RightHeadWrapper table ,
div.DTFC_LeftHeadWrapper table {
	border-bottom: none !important;
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
 
div.DTFC_RightHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_RightHeadWrapper table thead tr:last-child td:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
 
div.DTFC_RightBodyWrapper table,
div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin: 0 !important;
}
 
div.DTFC_RightBodyWrapper tbody tr:first-child th,
div.DTFC_RightBodyWrapper tbody tr:first-child td,
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
    border-top: none;
}
 
div.DTFC_RightFootWrapper table,
div.DTFC_LeftFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
}


/*
 * FixedHeader styles
 */
div.FixedHeader_Cloned table {
	margin: 0 !important
}

