@model RDN.Raspberry.Models.Utilities.IdModel
@{
    ViewBag.Title = "Subscribe an Email.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
     Subscribe an email</h2>
@using (Html.BeginForm())
{

    
    <div>
        Add Email To Subscriber List
        @Html.TextBoxFor(x => x.Id)
    </div>
    
    <div>
        Use this to ADD a persons email from the mass email sends</div>

    
    <input type="submit" class="primary" />
    
    
    if (Model.IsSuccess)
    { 
    <div>
         Subscriber Added!!!!!!!!!!!!!!!!!!!!</div>
    
    }
}
