@model RDN.Raspberry.Models.Utilities.IdModel
@{
    ViewBag.Title = "Change Email.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Un Subscribe an email</h2>
@using (Html.BeginForm())
{

    
    <div>
        Change Email From, To OldEmail:<br />
        @Html.TextBoxFor(x => x.Id)<br />
        NewEmail:<br />
        @Html.TextBoxFor(x => x.Id2)
    </div>
    
    <div>
        Does a massive search in all the emails on RDNation and changes the email we have
        to the new one. This does NOT change the users login email...
    </div>

    
    <input type="submit" class="primary" />
    
    
    if (Model.IsSuccess)
    { 
    <div>
        Email Changed!!!!!!!!!!!!!!!!!!!!</div>
    
    }
}
