  <div id="footer-sites">
            <table>
                <tbody>
                    <tr>
                        <th class="white font12 padding-left-15 padding-bottom-5">OUR WEBSITES
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <ol class="padding-left-15">
                                <li><a href="https://rdnation.com" target="_blank">Roller Derby Nation</li>
                                <li><a href="https://snation.com" target="_blank">Soccer Nation</a></li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
            </table>
 </div>
