@{
    ViewBag.Title = "Add Members To " + ViewBag.League.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="@RDN.Utilities.Config.ConfigManager.InternalSite">Home</a></li>
   
    <li class="active">Add Members</li>
</ol>
<div class="panel panel-default margin-top-20">
    <div class="panel-heading">
        <h3 style="margin-top:5px !important"><i class="fa fa-group"></i> Add Multiple Members to @ViewBag.League.Name</h3>
        <div class="text-muted">
            Here you can add Members to your league.
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                       Nick Name
                    </th>
                    <th>
                        Player Number
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: members">
                <tr>
                    <td style="vertical-align: top;">
                        <input type="text" class="required form-control input-sm" data-bind="value: firstName, hasfocus: true" />
                    </td>
                    <td style="vertical-align: top;">
                        <input type="text" class="form-control input-sm" data-bind="value: lastName" />
                    </td>
                    <td style="vertical-align: top;">
                        <input type="text" class="required form-control input-sm" data-bind="value: derbyName" />
                    </td>
                    <td style="vertical-align: top;">
                        <input type="text" class="form-control input-sm" data-bind="value: playerNumber" />
                    </td>
                    <td style="vertical-align: top;">
                        <input type="text" class="required form-control input-sm" data-bind="value: email" />
                    </td>
                    <td style="vertical-align: top;">
                        <input type="text" class="form-control input-sm" data-bind="value: phoneNumber" />
                    </td>
                    <td style="vertical-align: top;">
                        @*This gender matches with the sign up page gender...*@
                        <select data-bind="options: genderList,
                   optionsText: 'name',
                   optionsValue : 'type',
                   value: gender,
                   optionsCaption: 'Choose...'"></select>
                    </td>
                    <td valign="top" style="vertical-align: top;">
                        <a href="#" class="btn btn-danger btn-sm" data-bind="click: $parent.removeMember">
                            <i class="fa fa-trash"></i>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="panel-footer text-right">
            <span class="addedSuccessfully displayNone" id="addedSuccessfully">
                All Members Were Added Successfully!
            </span>
        <i id="savingMembers" class="fa fa-spinner fa-spin fa-lg margin-right-10 displayNone"></i>
        
            <button class="btn btn-primary" data-bind="click: addMemberForLeague">
                <i class="fa fa-plus-circle"></i> Add More
            </button>
            <button class="btn btn-success" data-bind="click: saveMembersForLeague">
                <i class="fa fa-save"></i> Submit
            </button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var members = new MembersViewModel();
        members.errors = ko.validation.group(members);
        ko.applyBindings(members);
        members.addMemberForLeague();
    });

</script>