@{
    ViewBag.Title = "SyncYafUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    SyncYafUsers</h2>
<div>
    This Syncs the YAF users with the users of RDNation, For right now, it changes the
    YAF display name with that of RDNation.com derby names.</div>
<br />
<br />
Synced?: @ViewBag.Result
