@model RDN.Raspberry.Models.Utilities.IdModel
@{
    ViewBag.Title = "Delete a League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>DeleteMemberFromLeague</h2>
@using (Html.BeginForm())
{

    
    <div>
        League Id:
        @Html.TextBoxFor(x => x.Id)
    </div>
    <div>
        Member Id:
        @Html.TextBoxFor(x => x.Id2)
    </div>
    
   
    <input type="submit" class="primary" />
    
    
    if (Model.IsSuccess)
    { 
        <div>Member Is Removed!!!!!!!!!!!!!!!!!!!!</div>
    
    }
}
