
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br />
<p><a class="btn btn-primary cordovaTakePicture">Take Picture &raquo;</a></p>
<img class="media-object pull-left"/>
<br />