.displayNone{ display:none;}

.subscriptionTable tr { border:1px solid #000; }

 .valign{
        vertical-align: top;
        width:150px;
    }

    .valign label {
        max-width: 140px !important; word-wrap: break-word;
    }
 
 textarea {
   resize: none;  
}