@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<div class="shopMain">
    <div class="sellTitleCon">
        <div class="sellTitle">
            Add Another Revenue Stream For You or Your League
        </div>
        <div class="sellStartShop">
            <a class="primaryLink" href="@RDN.Portable.Config.ServerConfig.WEBSITE_INTERNAL_DEFAULT_LOCATION/store/home">Start A Shop</a>
        </div>
    </div>

    <div class="sellTitle">
        What Can You Sell?
    </div>

    <div class="sellWhatCon">
        <div>League Merchandise</div>
        <div>New and Used Gear</div>
        <div>Handmade</div>

        <img src="@Url.Content("~/Content/sellBanner.png")" width="998px" height="90px" />

    </div>
    <div class="sellTitle">
        Why Sell on RDNation?
    </div>
    <div class="whySell">
        <div>Generate Revenue For Your League</div>
        <ul>
            <li>Setup a Store without any hassle of trying to create one for your league.</li>
            <li>Roller Derby skaters and fans from all over the world will come here to buy from your league.</li>
            <li>Become part of a growing community of leagues who are selling their merchandise online instead of just at a bout.</li>
        </ul>
    </div>
    <div class="whySell">
        <div>Create Your Own Business</div>
        <ul>
            <li>Have a Small Roller Derby Business, but no online presence?</li>
            <li>Put money in your pocket, by creating something fans and skaters will enjoy.</li>
            <li>Reach not only other skaters, but reach fans with your business as RDNation is building fans for Roller Derby.</li>
        </ul>
    </div>
    <div class="whySell">
        <div>Sell To Fans</div>
        <ul>
            <li>RDNation not only has skaters visiting, but RDNation is one of the largest Roller Derby Fan websites in the world.</li>
            <li>Its fast, easy and gets the job done.  RDNation makes sure you get your money fast and orders are processed quickly.</li>
            <li>Build a customer base that will keep coming back.</li>
        </ul>
    </div>
  
    <div class="sellFooterCon">
        <div class="sellTitle">
            Any Questions?
        </div>
        <br />
        <br />
        <div>Email us at <a href="mailto:@RDN.Portable.Config.ServerConfig.DEFAULT_EMAIL">@RDN.Portable.Config.ServerConfig.DEFAULT_EMAIL</a></div>
        <br />
        <div>
            <a href="http://wiki.rdnation.com/Pricing_for_Selling_at_RDNation" target="_blank">Pricing Information</a>
        </div>

        <div class="sellStartShop">
            <a class="primaryLink" href="@RDN.Portable.Config.ServerConfig.WEBSITE_INTERNAL_DEFAULT_LOCATION/store/home">Start A Shop</a>
        </div>
        <br />
    </div>


</div>
<div class="clear"></div>
