<div class="navBar">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    { 
        <span><a href="@RDN.Portable.Config.ServerConfig.WEBSITE_INTERNAL_DEFAULT_LOCATION">Manage</a></span> 
    }
    <span><a href="@RDN.Portable.Config.ServerConfig.WEBSITE_DEFAULT_LOCATION">RDNation</a></span>
    <span><a href="@Url.Content("~/")">Shops</a></span>
    <span><a href="@Url.Content("~/sell")">Sell</a></span>
    <span><a href="http://wiki.rdnation.com">Help</a></span>
</div>
