<div class="loginBar">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <span><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/account/logout">Logout</a></span>
    }
    else
    { 

@*<span><a href="@Url.Content("~/SignUpBeta")">Sign Up For Beta</a></span> 
<span>/

</span>*@
        <span><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/SignUp?u=@RDN.Library.Util.Enum.SiteMessagesEnum.f&returnSite=store&ReturnUrl=@Server.UrlEncode(Request.RawUrl)">Sign Up</a></span> 
        <span>/

        </span>
        <span><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/login?returnSite=shops&ReturnUrl=@Server.UrlEncode(Request.RawUrl)">Login</a></span>
    }
</div>
