<li class="dropdown">
    <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="drop1">
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <li><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/account/logout">Logout</a></li>
        }

        else
        {

            @*<span><a href="@Url.Content("~/SignUpBeta")">Sign Up For Beta</a></span>
                <span>/

                </span>*@
            <li><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/SignUp?u=@RDN.Library.Util.Enum.SiteMessagesEnum.f&returnSite=store&ReturnUrl=@Server.UrlEncode(Request.RawUrl)">Sign Up</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="@RDN.Library.Classes.Config.LibraryConfig.PublicSite/login?returnSite=shops&ReturnUrl=@Server.UrlEncode(Request.RawUrl)">Login</a></li>
        }
    </ul>
</li>


