@model RDN.Library.Classes.Calendar.Models.EventsOutModel
@{
    ViewBag.Title = @RDN.Library.Classes.Config.LibraryConfig.SportName+" Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mapdiv" class="page-header" style="height: 350px; width: 100%;"></div>
<style>
    .olControlAttribution { bottom: 0px; }
</style>

<div class="page-header text-center">

    <h2>
        @RDN.Library.Classes.Config.LibraryConfig.SportName Events
    </h2>
    <a class="btn btn-success" href="@RDN.Library.Classes.Config.LibraryConfig.InternalSite">Add Event</a>
</div>

<div data-bind="foreach: Events">
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <a data-bind=" attr: {href: LogoUrl}">
                <img style="max-height:200px" alt="" data-bind="attr:{ src: LogoUrl}" />
            </a>
            <div class="caption">
                <h4 class=" text-center">
                    <a data-bind=" attr: {href: NameUrl}">
                        <span data-bind="text: Name "></span>
                    </a>
                </h4>
                <div class="row text-center">
                    <small>
                        <span class="" data-bind="text: DateTimeHuman"></span>
                    </small>
                </div>
                <div class="row text-center" data-bind="if:Address">
                    <small>
                        <span class="" data-bind="text: Address "></span>
                    </small>
                </div>
                <div data-bind="if: TicketUrl" class=" row text-center">
                    <a data-bind="attr:{href:TicketUrl}" target="_blank" class="btn btn-primary btn-sm ">Find Tickets</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var PROJECTIONFROM = "EPSG:4326";
    var PROJECTIONTO = "EPSG:900913";

    $(document).ready(function () {
        ko.applyBindings(CalendarViewModel);
        CalendarViewModel.LoadEventsList('@RDN.Library.Classes.Config.LibraryConfig.ListLoadingCount');

        $(window).resize(function () {
            var w = $("#mapDiv").width();
            $("#mapDiv").css("height", w * 3 / 4);
        });
    });
</script>