.popup { }
.popuptable { width: 350px; height: 100px; font-family: Arial; }
.popuptd { width: 250px; vertical-align: top; }
.popupleagename { font-weight: bold; font-size: 14px; padding-left: 5px; padding-top: 5px; }
.popupleagemem { font-weight: bold; font-size: 12px; padding-left: 5px; }
.popupbold { font-weight: bold; font-size: 14px; padding-left: 5px; padding-bottom: 5px; }
.olControlAttribution { display: none; }
.popupaddress { font-size: 12px; padding-left: 5px; margin-top: -10px; }
