<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <!-- PayPal SDK config -->
  <paypal>
    <settings>
      <add name="endpoint" value="https://svcs.sandbox.paypal.com/" />
      <!--<add name="AdaptivePayments" value="https://svcs.sandbox.paypal.com/"/>-->
      <add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="3" />
      <add name="IPAddress" value="127.0.0.1" />
    </settings>
    <accounts>
      <account apiUsername="jb-us-seller_api1.paypal.com" apiPassword="WX4WTU3S8MY44S7F" apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31A7yDhhsPUU2XhtMoZXsWHFxu-RWy" applicationId="APP-80W284485P519543T" />
    </accounts>
  </paypal>
  <connectionStrings>
    <add name="RDN" connectionString="Server=localhost;database=D:\Personal\RDNation\Database\Sports1.mdf;User Id=data;password=1qaz@WSX;" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="Server=localhost;database=D:\Personal\RDNation\Database\Sports1.mdf;User Id=data;password=1qaz@WSX;" providerName="System.Data.SqlClient" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=localhost;database=D:\Personal\RDNation\Database\Sports1.mdf;User Id=data;password=1qaz@WSX;&quot;" providerName="System.Data.EntityClient" />
    <add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\SportsRNTest.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=localhost;database=D:\Personal\RDNation\Database\Sports1.mdf;User Id=data;password=1qaz@WSX;" providerName="System.Data.SqlClient" />
    

    <!--<add name="RDN" connectionString="Data Source=ARPIT-PC\SQLEXPRESS;AttachDbFileName=C:\FL\Scott Pio\RDNation\RDNation\Database\Sports1.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="Data Source=ARPIT-PC\SQLEXPRESS;AttachDbFileName=C:\FL\Scott Pio\RDNation\RDNation\Database\Sports1.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ARPIT-PC\SQLEXPRESS;AttachDbFileName=C:\FL\Scott Pio\RDNation\RDNation\Database\Sports1.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\FL\Scott Pio\RDNation\RDNation\Database\SportsRNTest.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />-->

    <!--<add name="RDN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\SportsRNTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->

    <!--<add name="RDN" connectionString="Server=LCII-PC\MSSQL12;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="Server=LCII-PC\MSSQL12;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=LCII-PC\MSSQL12;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;&quot;" providerName="System.Data.EntityClient" />
    <add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\SportsRNTest.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />-->


    <!--<add name="RDN" connectionString="Data Source=SCOTT-PC\SQLEXPRESS;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="Data Source=SCOTT-PC\SQLEXPRESS;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SCOTT-PC\SQLEXPRESS;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=SCOTT-PC\SQLEXPRESS;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\FL\Scott Pio\RDNation\RDNation\Database\SportsRNTest.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    
    
    <!--<add name="RDN" connectionString="Data Source=DHARMESH-PC;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="Data Source=DHARMESH-PC;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DHARMESH-PC;database=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=true;&quot;" providerName="System.Data.EntityClient" />
    <add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\FL\Scott Pio\RDNation\RDNation\Database\SportsRNTest.mdf;Integrated Security=true;" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="PaymentMode" value="Test" />
    <add key="ConnectionStringName" value="RDN" />
    <add key="StripeApiPublicKey" value="pk_test_r7bJNuZlcKeDJzaqIeyp2Z8X" />
    <add key="StripeApiKey" value="sk_test_dyh8v4J8pVOG51B4l74uhimq" />
    <add key="StripeConnectKey" value="ca_1H0q11C8HbuHiAPfYEpgUIEhI9clgPJ7" />
    <add key="InternalSite" value="http://localhost:1094" />
    <add key="WikiSite" value="http://wiki.rdnation.com" />
    <add key="AdminSite" value="https://raspberry.rdnation.com" />
    <add key="PublicSite" value="http://localhost:16096" />
    <add key="ApiSite" value="http://localhost:16106" />
    <add key="ShopSite" value="https://shops.rdnation.com" />
    <add key="BlogSite" value="http://blog.rdnation.com" />
    <add key="SupportSite" value="http://support.codingforcharity.org/Projects/ProjectSummary/1" />
    <add key="MainDomain" value="rdnation.com" />
    <add key="WebsiteSlogan" value="a smarter way to derby" />
    <add key="WebsiteName" value="Roller Derby Nation" />
    <add key="SportName" value="Roller Derby" />
    <add key="WebsiteShortName" value="RDNation" />
    <add key="WebsiteMainEmail" value="info@rdnation.com" />
    <add key="DataFolder" value="C:\WebSites\RDNation.com\Data" />
    <add key="LeagueUrl" value="https://rdnation.com/roller-derby-league/" />
    <add key="EventPublicUrl" value="https://rdnation.com/roller-derby-event/" />
    <add key="ListLoadingCount" value="50" />
    <add key="IsProduction" value="false" />
    <add key="IsPayPalLive" value="Test" />
    <add key="SiteType" value="localhost" />
    <add key="NameOfMembers" value="Skaters" />
    <add key="DKIMPublic" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDKI85WaFmQduAT59J1Snk8B4/ePzTRjyV+EgKKV5887gP/uoheuykzzqa3tpIaBfzvKIm8DD/Xv4l4wC/RGrP6bHFQMCmSqfpWT0qfOuhJGhJmbLAYT8iDcrP6FC9XDUjh5H2fUolOpro2vUrWKst6Srov9Jw6oa/iQuM0uxWCXwIDAQAB" />
    <add key="DKIMPrivate" value="MIICXgIBAAKBgQDKI85WaFmQduAT59J1Snk8B4/ePzTRjyV+EgKKV5887gP/uoheuykzzqa3tpIaBfzvKIm8DD/Xv4l4wC/RGrP6bHFQMCmSqfpWT0qfOuhJGhJmbLAYT8iDcrP6FC9XDUjh5H2fUolOpro2vUrWKst6Srov9Jw6oa/iQuM0uxWCXwIDAQABAoGBAMGCg55+qPc+hgcoT3aPg/3us1Csq5DN+7Nz5FCxzzRSGyvuU2x0ud3pv/pxYe5duyTsZubJxzhwGVeqjFwetxmZw3NcBQOj1LDRTiGLpwkUhQNCQ8ubbX6Yz9R/6AP7xCecnRAmXzFupEjX/zDxXYRHH66lj3RGpVEkPTgrNAWBAkEA8xhTNwfpta4lZdjVoJasObqUIfNTzafmqiUjVOjDk3F9htuEUB70VDLgJQOA3Dy4D6Xc4ca9cLaWzTFaIHYRwQJBANTe5evMny+7OFehuHU2oEsfYNPE5GdjXREY9o0E+M808Av9adt0VIdlO3myKIOa4g4lbz5fEYRzxMvVoyhoXB8CQCXMLHQsCMy07R+u3ViA1PqM5id5PBiH+LeP2rSDFJXCWbA0RZhnl7nXxz46EzkrP7s/IN8CFcaGvV/eQpM1iIECQQCiBmLk/uOvdgZllR+MgB6z71dI+RWMqDHfYKvRHJaxSK7pwWJAeqQYRnJlp7h0q4AimlW5GK2Broh9ScgdaomrAkEAti+SzZ/V5p1cMlJbba+a8kwUHVQYtnnL0X4tmnLnSFndaq91ViFnPrX6Y9NpHinfzZURfNRF4k7G1BnUgFlwQA==" />
    <add key="FacebookUrl" value="http://www.facebook.com/rdnation" />
    <add key="FacebookAppId" value="648592428540709" />
    <add key="FacebookAppIdSecret" value="7caa5b5a4cd51de5e201ea2f1e5a86c0" />
    <add key="FacebookPageId" value="138654659518052" />
    <add key="FacebookPageName" value="RollinNews" />
    <add key="FacebookPageId2" value="379801185380841" />
    <add key="FacebookPageName2" value="RDNation" />
    <add key="TwitterConsumerKey" value="ZfhGVO4ZMB0eP5cp3mApIduav" />
    <add key="TwitterConsumerSecret" value="QNFg14Os24DAM0jhr3MfYiQfj5D2lCOmFAtt4SasML4HFofXOp" />
    <add key="TwitterToken" value="14108730-0KtMitGBkO5qmZq5ZCZ3UKCdZoiUz4phxd7aq8KK6" />
    <add key="TwitterTokenSecret" value="YjXRxBJ0zw52SWa7Ng5YeXH8NmqNeW8aMv7F1PS0o2aXE" />


    <add key="DefaultThemeColor" value="Purple" />
    <add key="ThemeColors" value="Purple,Blue,Orange,Gray,Red,Green,Violet" />

    <add key="MemberName" value="Derby Name" />
    <add key="NameOfMember" value="Skater" />
    <add key="DefaultInfoEmail" value="info@rdnation.com" />
    <add key="DefaultEmailMessage" value="messages@rdnation.com" />
    <add key="DefaultAdminEmailAdmin" value="admin@rdnation.com" />
    <add key="DefaultPhoneNumber" value="3862904108" />
    <add key="DefaultKrisWorlidgeEmailAdmin" value="kris@rdnation.com" />
    <add key="DefaultEmailFromName" value="RDNation" />
    <add key="TextMessageEmail" value="rdnationsms@gmail.com" />
    <add key="AdminPhoneNumber" value="3862904108" />
    <add key="WebsiteTitleDefault" value="Roller Derby Nation - a smarter way to derby" />
    <add key="WebsiteSloganDefault" value="a smarter way to derby" />
    <add key="WebsiteTitleDefaultStore" value="Buy &amp; Sell Roller Derby Gear - Roller Derby Nation" />
    <add key="LogoURL" value="https://rdnation.com/Content/logo.png" />
    <add key="PaypalIPNHandler" value="https://transactions.rdnation.com/ipnhandlers.ashx" />
    <add key="DEFAULT_RDN_FORUM_ID" value="8059734d-511c-4511-8770-ee595c10bef5" />
    <add key="EmailSignature" value="The RDNation Team" />
    <add key="CompanyAddress" value="12960A Grays Pointe Rd. Fairfax, VA 22033, USA" />
    <add key="ImagesBaseUrl" value="http://images.rdnation.com" />
    <add key="ImagesBaseSaveLocation" value="C:\WebSites\images.rdnation.com" />
    <add key="DefaultEmailSubject" value="[RDNation]" />
    <add key="DocumentsSaveFolder" value="C:\WebSiteDocuments\rdnation" />
    <add key="DefaultPictureName" value="roller-person.gif" />

    <add key="SportNameForUrl" value="roller-derby" />
    <add key="SportNamePlusMemberNameForUrl" value="roller-derby-skater" />
    <add key="SportNamePlusMembersNameForUrl" value="roller-derby-skaters" />
    <add key="ApiKey" value="F59CA4CCE8B74049BCF086E88E2B8122" />
    <add key="RDNATION_STORE_ID" value="7b0c3da2-b58a-4b1a-b9a2-92d253ce0100" />

    <add key="DefaultEmailSubject" value="[RDNation]" />
    <add key="SportNameForUrl" value="roller-derby" />

    <add key="SiteStoreID" value="7B0C3DA2-B58A-4B1A-B9A2-92D253CE0100" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" /> 
        <add assembly="System.ObjectModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

      </assemblies>
    </compilation>
    <machineKey validationKey="EEC7FA90B6E24C5B01A8A980EC23A842FC724CA47B91B9D58039E6AF30788F25CB299A95B234C39B25C0018C0011C51D91EE99D8AAD493D2AF4A973404C0D63B" decryptionKey="678443B36E9686AC4798BDC3586A0C77FFFF2BFBC2FE9BD6A58750CFBE59212B" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms loginUrl="http://rdnation.com/login?returnSite=league" timeout="2880" enableCrossAppRedirects="true" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add applicationName="RDN" connectionStringName="RDN" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add applicationName="RDN" connectionStringName="RDN" name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add applicationName="RDN" connectionStringName="RDN" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>