@{
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
    ViewBag.Title = "Contact";
}

<h2>
    General Questions and Inquiries</h2><br /><br />
<div>
    We'd love to hear from you! Please send all your general questions and inquiries
    to <a href="mailto:@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail">@RDN.Library.Classes.Config.LibraryConfig.DefaultInfoEmail</a></div>