@model RDN.Raspberry.Models.Utilities.IdModel
@{
    ViewBag.Title = "DeleteUser";
}

<h2>Delete User with UserName</h2>
@using (Html.BeginForm())
{

    
    <div>
        UserName To Delete:
        @Html.TextBoxFor(x => x.Id)
    </div>
    
    <div>
        Only use this to delete the uer entirely in case their are duplicates or something
        like that.  This is a final delete, no going back and it deletes just the league, not the members of the league.</div>

    
    <input type="submit" class="primary" />
    
    
    if (Model.IsDeleted)
    { 
    <div>User IS DELETED!!!!!!!!!!!!!!!!!!!!</div>
    
    }
}
