USE [Sports1]
GO
/****** Object:  Table [dbo].[Site_Configuration]    Script Date: 10/17/2015 5:01:09 PM ******/
DROP TABLE [dbo].[Site_Configuration]
GO
/****** Object:  Table [dbo].[Site_Configuration]    Script Date: 10/17/2015 5:01:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Site_Configuration](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[LastModified] [datetime] NULL,
	[IsRemoved] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Site_Configuration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Site_Configuration] ON 

GO
INSERT [dbo].[Site_Configuration] ([ID], [Key], [Value], [Description], [Created], [LastModified], [IsRemoved]) VALUES (1, N'webpages:Version', N'3.0.0.0', N'webpages:Version', CAST(0x0000A5340104215A AS DateTime), NULL, 0)
GO
INSERT [dbo].[Site_Configuration] ([ID], [Key], [Value], [Description], [Created], [LastModified], [IsRemoved]) VALUES (2, N'ClientValidationEnabled', N'true', N'ClientValidationEnabled', CAST(0x0000A5340104AB55 AS DateTime), NULL, 0)
GO
INSERT [dbo].[Site_Configuration] ([ID], [Key], [Value], [Description], [Created], [LastModified], [IsRemoved]) VALUES (3, N'UnobtrusiveJavaScriptEnabled', N'true', N'UnobtrusiveJavaScriptEnabled', CAST(0x0000A53401067ACE AS DateTime), NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[Site_Configuration] OFF
GO
