<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<!-- PayPal SDK config -->
	<paypal>
		<settings>
			<add name="endpoint" value="https://svcs.sandbox.paypal.com/" />
			<!--<add name="AdaptivePayments" value="https://svcs.sandbox.paypal.com/"/>-->
			<add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
			<add name="connectionTimeout" value="360000" />
			<add name="requestRetries" value="3" />
			<add name="IPAddress" value="127.0.0.1" />
		</settings>
		<accounts>
			<account apiUsername="jb-us-seller_api1.paypal.com" apiPassword="WX4WTU3S8MY44S7F" apiSignature="AFcWxV21C7fd0v3bYYYRCpSSRl31A7yDhhsPUU2XhtMoZXsWHFxu-RWy" applicationId="APP-80W284485P519543T" />
		</accounts>
	</paypal>
	<!--<paypal>
		<settings>
			<add name="endpoint" value="https://svcs.paypal.com/"/>
			-->
	<!--<add name="AdaptivePayments" value="https://svcs.paypal.com/"/>-->
	<!--
			<add name="IPNEndpoint" value="https://www.paypal.com/cgi-bin/webscr"/>
			<add name="connectionTimeout" value="360000"/>
			<add name="requestRetries" value="3"/>
			<add name="IPAddress" value="127.0.0.1"/>
		</settings>
		<accounts>
			<account apiUsername="admin_api1.rdnation.com" apiPassword="HWRQWMSFNQGALKY4" apiSignature="A2SBVXXvoPr1dvwUGIu4HpwD.fEjA3KmUy-9Oe66MlWGQ3dH1T0K0MUQ"  applicationId="APP-58J50652ER549320H"/>
		</accounts>
	</paypal>-->
	<connectionStrings>
		<!--<add name="RDN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
		<!--<add name="DB"       providerName="System.Data.SqlClient"       connectionString="Server=PATRIKS-PC\SQLEXPRESS;Database=Sports;Integrated Security=True;Trusted_Connection=True;"/>-->
		<add name="RDN" connectionString="Data Source=173.237.177.36;Initial Catalog=Sports;user id=sportsadmin;password=sportsadmin!23;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="DB" providerName="System.Data.SqlClient" connectionString="Server=173.237.177.36;Database=Sports;user id=sportsadmin;password=sportsadmin!23;MultipleActiveResultSets=true;" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.237.177.36;initial catalog=Sports;persist security info=True;user id=sportsadmin;password=sportsadmin!23;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="RN" connectionString="Data Source=173.237.177.36;Initial Catalog=RollinNews;user id=sportsadminRollin;password=sportsadminRollin!23;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=localhost;database=D:\Personal\RDNation\Database\Sports1.mdf;User Id=data;password=1qaz@WSX;" providerName="System.Data.SqlClient" />
    
		<add name="RDN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
		<add name="DB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
		<add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsRNTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />


		<!--<add name="DB" providerName="System.Data.SqlClient" connectionString="Server=173.237.177.36;Database=SportsTest;user id=sportsadmin2;password=sportsadmin!23;MultipleActiveResultSets=true;" />
		<add name="RDN" connectionString="Data Source=173.237.177.36;Initial Catalog=SportsTest;user id=sportsadmin2;password=sportsadmin!23;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=data source=173.237.177.36;initial catalog=SportsTest;persist security info=True;user id=sportsadmin2;password=sportsadmin!23;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	
		<!--<add name="RDN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30" providerName="System.Data.SqlClient" />
		<add name="DB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30" providerName="System.Data.SqlClient" />
	<add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Personal\RDN\Database\SportsTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--Test-->
		<add key="StripeApiKey" value="jwuudjdFLxtMuMhDwT4QSMA2OwD4Xcgg" />
		<!--Live-->
		<!--<add key="StripeApiKey" value="YgerYbTRXxLmqBYKdUCdIr5rxPC9C6SD" />-->
		<add key="IsProduction" value="true" />
		<add key="IsPayPalLive" value="Test" />
    <add key="AppName" value="HandiTeam" />
    <add key="SiteBaseUrl" value="handiteam.com" />
    <add key="LeagueBaseUrl" value="league.handiteam.com" />
    <add key="AdminEmail" value="info@handiteam.com" />
	</appSettings>
	<system.web>
		<httpRuntime maxRequestLength="1048576" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<machineKey validationKey="EEC7FA90B6E24C5B01A8A980EC23A842FC724CA47B91B9D58039E6AF30788F25CB299A95B234C39B25C0018C0011C51D91EE99D8AAD493D2AF4A973404C0D63B" decryptionKey="678443B36E9686AC4798BDC3586A0C77FFFF2BFBC2FE9BD6A58750CFBE59212B" validation="SHA1" decryption="AES" />
		<authentication mode="Forms">
			<forms loginUrl="http://rdnation.com/login?returnSite=league" timeout="2880" enableCrossAppRedirects="true" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add applicationName="RDN" connectionStringName="RDN" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add applicationName="RDN" connectionStringName="RDN" name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" />
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear />
				<add applicationName="RDN" connectionStringName="RDN" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
			</providers>
		</roleManager>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
</configuration>