<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    
    <section name="CustomConfigSection" type="Common.Site.AppConfig.CustomConfigSection,Common.Site" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="RDN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="MembershipModel" connectionString="metadata=res://*/DataModels.Member.AspNetMembership.csdl|res://*/DataModels.Member.AspNetMembership.ssdl|res://*/DataModels.Member.AspNetMembership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\Sports1.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RN" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Personal\RDNation\Database\SportsRNTest.mdf;Integrated Security=True;Persist Security Info=True;User ID=transferStuff;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <!--I opted to put config settings in the webconfig due to its single point of access.
  because the transactions app uses multiple databases, if I chose to update one config, I would have to update in each database just for transactions.
  so I chose config settings here to keep it cleaner and a single point of failure, not multiple points.-->
  <CustomConfigSection>
    <ConfigElements>
      <ConfigElement key="RDN">
        <SubElements>
          <ConfigSubElement key="api" value="suck it" />
        </SubElements>
      </ConfigElement>
      <ConfigElement key="RN">
        <SubElements>
          <ConfigSubElement key="api" value="beat it" />
        </SubElements>
      </ConfigElement>
      <!--<ConfigElement key="Test2">
        <SubElements>
          <ConfigSubElement key="-SubTest2.1" />
          <ConfigSubElement key="-SubTest2.2" />
        </SubElements>
      </ConfigElement>-->
    </ConfigElements>
  </CustomConfigSection>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GoogleMerchantID" value="451375916823247" />
    <add key="GoogleMerchantKey" value="ZvLhMqNAcrwI1_oz9iGwXQ" />
    <add key="GoogleEnvironment" value="Sandbox" />
    <add key="Currency" value="USD" />
    <add key="PlatformID" value="" />
    <add key="Logging" value="true" />
    <add key="LogDirectory" value="C:\temp\logs\" />
    <!--Test-->
    <add key="StripeApiKey" value="jwuudjdFLxtMuMhDwT4QSMA2OwD4Xcgg" />
    <add key="IsProduction" value="false" />

    <add key="WebsiteName" value="Roller Derby Nation"/>
    <add key="WebsiteShortName" value="RDNation"/>
    <add key="SportName" value="Roller Derby"/>
    <add key="NameOfMember" value="Skater" />
    <add key="NameOfMembers" value="Skaters" />
    <add key="WebsiteSlogan" value="a smarter way to derby" />    
    <add key="WebsiteMainEmail" value="info@rdnation.com" />

    <add key="DatabaseConnectionStringNames" value="RDN,RN" />
  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add applicationName="RDN" connectionStringName="RDN" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add applicationName="RDN" connectionStringName="RDN" name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add applicationName="RDN" connectionStringName="RDN" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>