@model RDN.Raspberry.Models.Utilities.IdModel
@{
    ViewBag.Title = "Change password of a Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Change password of member</h2>
@using (Html.BeginForm())
{

    
    <div>
        Email of Password to Change:
        @Html.TextBoxFor(x => x.Id)
    </div>
    <div>
        Password to Change To:
        @Html.TextBoxFor(x => x.Id2)
    </div> 
    <div>
       This will change user password along with emailing them.</div>

    
    <input type="submit" class="primary" />
    
    
    if (Model.IsSuccess)
    { 
    <div>Changed Password.....</div>
    
    }
     if (!Model.IsSuccess)
    { 
    <div>Password Not Changed.....</div>
    
    }
}
