@model dynamic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Buttons</title>
</head>
<body>
    <div>

        @using (Html.BeginForm("FormAction", "Payment"))
        {
            <text> Test Google checkout.<br />
                <br />
                <br />            
                Google checkout order #:
                <input type="text" name="ordernumber" /><br />
                <br />
                Action:
                <select name="buttonaction">
                    <option value="0">Charge order</option>
                    <option value="1">Ship order</option>
                    <option value="2">Cancel order</option>
                    <option value="3">Charge and ship order</option>
                    <option value="4">Archive order</option>
                </select>
                <input type="submit" value="Perform action" />
            </text>
        }
    </div>
</body>
</html>
